@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background-image: url(../img/1346621.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Playfair Display,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.logo-container{
    display: flex;
    align-items: center;
}
.logo-slot img{
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 100px;
}
.logo-name{
    position: absolute;
    margin-left: 80px;
    font-weight: bolder;
    cursor: pointer;
    font-size: x-large;
}
.container{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.middle-slot{
    display: flex;
    list-style: none;
    width: 400px;
}

.middle-slot li{
    padding-right: 40px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;

    &:hover {
        color: white;
        text-decoration: underline;
    }
}